<div class="body pt-4 pb-5">
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Get In Touch</span></p>
            <h1 class="mb-4">Contact Us For Any Query</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form  [formGroup]="contactForm" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group mb-3" [ngClass]="{ 'has-error': contactForm.get('email').touched && contactForm.get('email').invalid }">
                            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger" *ngIf="contactForm.get('email').touched && contactForm.get('email').errors?.['email']">Please enter a valid email</p>
                        </div>                          
                        <div class="control-group">
                            <input type="text" formControlName="subject" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" formControlName="message" rows="6" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-check mb-0" style="float: right;">
                            <label for="recaptcha"></label>
                            <re-captcha
                              siteKey="6LeRlwAmAAAAADLnv7RTDhyN9IgWNN8AIWGksy-r"
                              formControlName="recaptcha"
                              reCaptchaValueAccessor
                            >
                            </re-captcha>
                          </div>
                        <div>
                        <button [disabled]="!contactForm.valid" style="background: rgb(180, 255, 255);" class="btn  py-2 px-4 " type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5 ">
                <div class="d-flex mt-1">
                    <i class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center text-secondary rounded-circle" style="background: rgb(180, 255, 255); margin-right: 10px; width:45px; height: 45px;"></i>
                    <div class="pl-3">
                        <h5>Address</h5>
                        <p>123 Street, New York, USA</p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="fa fa-envelope d-inline-flex align-items-center justify-content-center text-secondary rounded-circle" style="background:rgb(180, 255, 255); margin-right: 10px; width: 45px; height: 45px;"></i>
                    <div class="pl-3">
                        <h5>Email</h5>
                        <p>info@example.com</p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center text-secondary rounded-circle" style="background: rgb(180, 255, 255); margin-right: 10px; width: 45px; height: 45px;"></i>
                    <div class="pl-3">
                        <h5>Phone</h5>
                        <p>+012 345 67890</p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="far fa-clock d-inline-flex align-items-center justify-content-center  text-secondary rounded-circle" style="background: rgb(180, 255, 255); margin-right: 10px; width: 45px; height: 45px;"></i>
                    <div class="pl-3">
                        <h5>Opening Hours</h5>
                        <strong>Sunday - Friday:</strong>
                        <p class="m-0">08:00 AM - 05:00 PM </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
</div>