<!-- Modal -->
<div
  class="modal fade mb-3"
  id="videoModal"
  tabindex="-1"
  aria-labelledby="videoModalLabel"
  aria-hidden="true"
  (show.bs.modal)="startTimer()"
  (hidden.bs.modal)="stopVideo()"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3> </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div *ngIf="type=='youtube'" class="modal-body d-flex justify-content-center align-items-center">
        <iframe 
          width="100%"
          height="420"
          [src]="'https://www.youtube.com/embed/' + videoId + '?autoplay=1&controls=0' | safe"
          title="YouTube video player"
          frameborder="0"
          allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        
      </div>

      <div *ngIf="type == 'other'" class  ="modal-body d-flex justify-content-center align-items-center">
        <video id="videoElement" width="100%"  autoplay>
          <source id="otherVideo" [src]="videoId" type="video/mp4">
          Tarayıcınız video etiketini desteklemiyor.
        </video>
        
      </div>

    </div>
  </div>
</div>


<!-- Wallet Address Modal -->
<div
  class="modal fade mb-3"
  id="walletAddressModal"
  tabindex="-1"
  aria-labelledby="walletAddressModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3> </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <input type="text" [(ngModel)]="userWalletAddress">
        yazfwldw
      </div>
    </div>
  </div>
</div>


<section class="meetings-page" id="meetings" style="min-height: 700px;">
  <div *ngIf="!dataLoaded" style="margin-left : 45%;">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="row grid">
          <h2 class="text-center" style="color: #1f272b;;" *ngIf="ads.length == 0">No video to watch</h2>
          <div *ngFor="let ad of ads" class="col-lg-4 templatemo-item-col mb-4">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span> {{ad.companyName}}</span>
                </div>
                <img  [src]="ad.videoImage ? ad.videoImage : '../../assets/images/3.jpg' " alt="video image" />
              </div>
              <div class="down-content">
                <div>{{ad.description}}</div>
                <div class="input-group mt-3 mb-1">
                  <button
                    (click)="setCurrentAd(ad)" 
                    class="btn btn-outline-success"
                    type="button"
                    id="button-addon2"
                  >
                    Watch Video
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
