<app-payment  (dataEvent)="receiveData($event)" [fee]="2"></app-payment>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Our Services</span></p>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2 mb-2">
                    <div class="card-body text-center">
                        <h4 class="card-title">Post an Ad Video</h4>
                        <p class="card-text">You must upload the video you want to add to a Blut system and enter the link.</p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5" [formGroup]="adForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="companyName" id="companyName" placeholder="name@example.com">
                            <label for="companyName">Company Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control"formControlName="description" id="description" placeholder="name@example.com">
                            <label for="description">What About This Ads Video</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="videoURL" id="videoURL" placeholder="name@example.com">
                            <label for="videoURL">Video Url</label>
                        </div>
                    </div>
                    <a (click)="checkIfSurveyNull()" class="btn btn-primary px-4 mx-auto mb-4">Go to Pay</a>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2 mb-2">
                    <div class="card-body text-center">
                        <h4 class="card-title">Post a Survey</h4>
                        <p class="card-text">Conduct surveys and get data. you can add up to 5 questions to your survey</p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5">
                        <div class="fade-image">
                            <img src="../../../assets/images/ass.jpg" alt="">
                        </div>
                        <button routerLink="/create-survey" class="btn btn-primary px-4 mt-3 mb-1">Create a Survey</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>