.section-title {
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(180, 255, 255);
    margin-bottom: 25px;
  }
  
  .section-title span {
    position: relative;
    background: #ffffff;
    font-weight: 500;
    z-index: 1;
    font-size: xx-large;
    background: #71BDCA;
  }
  .container-fluid{
    padding-bottom: 6em;
    background-image: url(../../../assets/images/bg.jpg);

  }
  .section-title::before {
    position: absolute;
    content: "";
    top: 22px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(133, 252, 252);
  }
 
  button{
    margin-left: 35%;
  }
  .fade-image {
    position: relative;
    overflow: hidden;
}

.fade-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); /* Opaklığı belirli bölgede azalan gradient */
    pointer-events: none;
}



.file-input {
  display: none;

}



