<app-payment  (dataEvent)="receiveData($event)" [fee]="2"></app-payment>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Our Services</span></p>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2 mb-2">
                    <div class="card-body text-center">
                        <h4 class="card-title">Post an Ad Video</h4>
                        <p class="card-text">You must upload the video you want to add to a Blut system and enter the link.</p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5" [formGroup]="adForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="companyName" id="companyName" placeholder="name@example.com">
                            <label for="companyName">Company Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="description" id="description" placeholder="name@example.com">
                            <label for="description">What About This Ads Video</label>
                        </div>

                        <div class="form-floating mb-3">   
                            <input type="file" formControlName="videoImage"  id="videoImage" maxAllowedContentLength="737280000" (change)="onImageSelected($event)" #imageFileInput style="display: none" accept="image/*">
                            <svg id="paperclip" (click)="imageFileInput.click()" fill="blue" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4z"/></svg>
                            <span id="chooseVideoImage" style="font-weight: 550;"> Choose Video Image</span>
                        <span> {{ selectedImageFileName }}</span>
                        </div>

                        <div style="display: flex; align-items: center; margin-bottom: 10px;">
                            <h4 class="text-danger" style="display: inline; white-space: nowrap;">Enter video url or choose video</h4>
                            <button class="btn btn-outline-success" style="display: inline; margin-left: auto;"  (click)="toggleType()">Change</button>
                          </div>


                        <div *ngIf="selectedType == EnterType.Url "  class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="videoURL" id="videoURL" placeholder="name@example.com">
                            <label for="videoURL">Video Url</label>
                        </div>
                        
                        <div *ngIf="selectedType == EnterType.ChooseFile ">   
                            <input type="file" maxAllowedContentLength="737280000" (change)="onFileSelected($event)" #fileInput style="display: none" accept="video/*">
                   
                            <svg (click)="fileInput.click()" fill="blue" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4z"/></svg>
                            <span style="font-weight: 550;"> Choose Video </span>
                            
                
                        <span> {{ selectedFileName }}</span>
                        <!-- <button (click)="uploadFile()" [disabled]="!selectedFile">Yükle</button> -->

                        </div>

                    </div>
                    <a (click)="checkIfAdNull(); " class="btn btn-primary px-4 mx-auto mb-4">Go to Pay</a>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2 mb-2">
                    <div class="card-body text-center">
                        <h4 class="card-title">Post a Survey</h4>
                        <p class="card-text">Conduct surveys and get data. you can add up to 5 questions to your survey</p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5">
                        <div class="fade-image">
                            <img src="../../../assets/images/ass.jpg" alt="">
                        </div>
                        <button routerLink="/create-survey" class="btn btn-primary px-4 mt-3 mb-1">Create a Survey</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>