section{
    background-image: url(../../../assets/images/bg-login-register.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
}
@media (max-width: 992px) {

    section{
        height: 1100px !important;
    }
  }
  
  @media (max-width: 400px) {
    .form-check{
        margin: 0;
        padding: 0;
    }
  }