<!-- Section: Design Block -->
<section style="height: 700px;">
    <!-- Jumbotron -->
    <div class="pb-5 pt-5 px-4 py-5 px-md-5 text-center text-lg-start" >
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-3 display-3 fw-bold ls-tight">
              Register now <br />
              <span class="text-primary">Start earning</span>
            </h1>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-4 px-md-5">
                <form [formGroup]="registerForm">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <h2 class="mb-5 display-4 fw-bold ls-tight text-center">Register</h2>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" formControlName="firstName" id="firstName" class="form-control" />
                        <label class="form-label" for="firstName">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" formControlName="lastName" id="lastName" class="form-control" />
                        <label class="form-label" for="lastName">Last name</label>
                      </div>
                    </div>
                  </div>
  
                  <!-- Email input -->
                  <div [ngClass]="{ 'has-error': registerForm.get('email').touched && registerForm.get('email').invalid }"  class="form-outline mb-4">
                    <input type="email" formControlName="email" id="email" class="form-control" />
                    <label class="form-label" for="email">Email address</label>
                    <p class="help-block text-danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.['email']">Please enter a valid email</p>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-1">
                    <input type="password" formControlName="password" id="password" class="form-control" />
                    <label class="form-label" for="password">Password</label>
                  </div>
                  
                  <div class="form-check mb-2">
                    <label for="recaptcha"></label>
                    <re-captcha
                      siteKey="6LeRlwAmAAAAADLnv7RTDhyN9IgWNN8AIWGksy-r"
                      formControlName="recaptcha"
                      reCaptchaValueAccessor
                    >
                    </re-captcha>
                  </div>

                  <!-- Submit button -->
                  <button (click)="register()" type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-block  mb-4">
                    Sign up
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->