<footer class="bg-secondary text-white">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4">
          <h5>Footer Başlık</h5>
          <p>Footer açıklama yazısı.</p>
        </div>
        <div class="col-md-4">
          <h5>Linkler</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" href="#">Anasayfa</a></li>
            <li><a class="text-white" href="#">Hakkımızda</a></li>
            <li><a class="text-white" href="#">Hizmetlerimiz</a></li>
            <li><a class="text-white" href="#">İletişim</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>İletişim Bilgileri</h5>
          <ul class="list-unstyled">
            <li><i class="fa fa-map-marker mr-2"></i>Adres</li>
            <li><i class="fa fa-phone mr-2"></i>Telefon</li>
            <li><i class="fa fa-envelope mr-2"></i>E-posta</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Tüm hakları saklıdır. © 2023</p>
        </div>
      </div>
    </div>
  </footer>
  