<footer>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4">
          <h2>AnySurvey</h2>
          <p>This website is made by Enes DONER.</p>
        </div>
        <div class="col-md-4">
          <h2>Links</h2>
          <ul class="list-unstyled">
            <li><a class="text-white" routerLink="">Hompage</a></li>
            <li><a class="text-white" routerLink="ad">Ad</a></li>
            <li><a class="text-white" routerLink="questionnaire">Survey</a></li>
            <li><a class="text-white" routerLink="partnership">Partnership</a></li>
            <li><a class="text-white" routerLink="contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Contact information</h2>
          <ul class="list-unstyled">
            <li><i class="fa fa-map-marker mr-2"></i> Address : Istanbul</li>
            <li><i class="fa fa-phone mr-2"></i> Phone: +90546 876 4588</li>
            <li><i class="fa fa-envelope mr-2"></i> E-mail : businessenesdoner@gmail.com</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>All rights reserved. © 2023</p>
        </div>
      </div>
    </div>
</footer>
  