<section *ngIf="!isResetLinkClicked" class="pb-5" style="min-height: 700px; padding-top: 130px">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h1 class="text-center mb-3">Forget Password</h1>
          <form [formGroup]="forgetPasswordForm">
            <!-- Email input -->
            <div [ngClass]="{ 'has-error': forgetPasswordForm.get('email').touched && forgetPasswordForm.get('email').invalid }" class="form-outline mt-5 mb-1">
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control form-control-lg"
                placeholder="Enter a valid email address"
              />
              <label class="form-label" for="email">Email address</label>
              <p class="help-block text-danger" *ngIf="forgetPasswordForm.get('email').touched && forgetPasswordForm.get('email').errors?.['email']">Please enter a valid email</p>
            </div>
          
            <div class="form-check mb-1">
                <label for="recaptcha"></label>
                <re-captcha
                  siteKey="6LeRlwAmAAAAADLnv7RTDhyN9IgWNN8AIWGksy-r"
                  formControlName="recaptcha"
                  reCaptchaValueAccessor
                >
                </re-captcha>
            </div>
          
            <div  class="text-center text-lg-start mt-4 pt-2">
              <button
                type="button"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
                [disabled]="!forgetPasswordForm.valid"
                (click)="sendResetPasswordMail()" 
              >
                Send
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div>
    </div>
  </section>


  <section *ngIf="isResetLinkClicked" class="pb-5" style="min-height: 700px; padding-top: 130px">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h1 class="text-center mb-3">Forget Password</h1>
          
            
            <div class="form-outline mt-5 mb-1">
              <input
                type="email"
                id="email" 
                class="form-control form-control-lg"
                placeholder="Enter your email"
                [(ngModel)]="email"
              />
            </div>
            <div class="form-outline mt-5 mb-1">
              <input
                type="text"
                id="password" 
                class="form-control form-control-lg"
                placeholder="Enter new password"
                [(ngModel)]="newPassword"
              />
            </div>
            
            <div  class="text-center text-lg-start mt-4 pt-2">
              <button
                type="button"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
                (click)="resetPassword()" 
              >
                Reset Password
                </button>
            </div>
          ,
        </div>
      </div>
    </div>
  </section>
  
  