<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row pb-5">
      <div class="col-lg-12">
        <div class="row grid">
          <div class="col-lg-4 templatemo-item-col mb-4">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span> Fiyat</span>
                </div>
                <img src="../../../assets/images/2.jpg" alt="" />
              </div>
              <div class="down-content">
                <h4></h4>
                <div>Lorem ipsum dolor sit amet.</div>
                <h4></h4>
                <div class="input-group mb-3">
                  <button
                    routerLink="/solve-questionnaire"
                    class="btn btn-outline-success"
                    type="button"
                    id="button-addon2"
                  >
                    Anketi çöz
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 templatemo-item-col mb-4">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span> Fiyat</span>
                </div>
                <img src="../../../assets/images/2.jpg" alt="" />
              </div>
              <div class="down-content">
                <h4></h4>
                <div>Lorem ipsumdwwd.</div>
                <h4></h4>
                <div class="input-group mb-3">
                  <button
                    routerLink="/solve-questionnaire"
                    class="btn btn-outline-success"
                    type="button"
                    id="button-addon2"
                  >
                    Anketi çöz
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 templatemo-item-col mb-4">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span> Fiyat</span>
                </div>
                <img src="../../../assets/images/2.jpg" alt="" />
              </div>
              <div class="down-content">
                <h4></h4>
                <div>Lorem ipsum dolor sit amet.</div>
                <h4></h4>
                <div class="input-group mb-3">
                  <button
                    routerLink="/solve-questionnaire"
                    class="btn btn-outline-success"
                    type="button"
                    id="button-addon2"
                  >
                    Anketi çöz
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
