<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row pb-5">

      <div class="col-lg-12">
        <div class="row grid">
          <div *ngFor="let survey of surveys"  class="col-lg-4 templatemo-item-col mb-4">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span>{{survey.title}}</span>
                </div>
                <img src="../../../assets/images/2.jpg" alt="" />
              </div>
              <div class="down-content">
                <h4></h4>
                <div>{{survey.description}}</div>
                <h4></h4>
                <div class="input-group mb-3">
                  <button
                  [routerLink]="'/solve-questionnaire/' + survey.id"
                    class="btn btn-outline-success"
                    type="button"
                    id="button-addon2"
                  >
                    Solve survey
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
