.row{
    background-color: aqua;
    border-width: 2px;
    border-color:black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 12px;
    width: 90%;
    justify-content: center;
    margin-left: 3vw;
}
.container-fluild{
    background-color: #e3f2fd;;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 25px;
    color: black;
    font-weight: 500;
    border-radius: 10px;
}
.container{
    justify-content: center;
    width: 60%;
    height: 60%;
    border-style: solid;
    border-width: 1px;
    border-color:black;

    box-shadow: 3px 3px 3px black;
}
.body{
  background-image: url(../../../assets/images/bg.jpg);
}
.selected{
    background-color: black;
    margin: 80px;
}
.row.active {
    background-color: black;
    color: white;
  }
  