<div class="container wh-50">
    <div class="container-fluild">
        dsglmwda
    </div>
    <div class="row">
        awd
    </div>
    <div class="row">
        dc
    </div>
    <div class="row">
        wda
    </div>
    <div class="row">
        adw
    </div>
</div>
<div class="container wh-50">
    <div class="container-fluild">
        dsglmwda
    </div>
    <div class="row">
        awd
    </div>
    <div class="row">
        dc
    </div>
    <div class="row">
        wda
    </div>
    <div class="row">
        adw
    </div>
</div>
<div class="container wh-50">
    <div class="container-fluild">
        dsglmwda
    </div>
    <div class="row">
        awd
    </div>
    <div class="row">
        dc
    </div>
    <div class="row">
        wda
    </div>
    <div class="row">
        adw
    </div>
</div>