<!-- slider  -->
<div class="slider" style="height: 690px; max-width: 80%; margin-left: 10%;">
  <div class="slide active"></div>
  <div class="slide"></div>
  <div class="slide"></div>
  <div class="slide"></div>
</div>

<div class="indicators">
  <button (click)="prevSlide()" id="prev" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg></button>
  <button (click)="nextSlide()" id="next"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
  </svg></button>
</div>
<!-- slider end -->

<!-- service section -->
<section class="service_section layout_padding">
  <div class="container-fluid">
    <div class="heading_container">
      <h2>
        Our Services
      </h2>

    </div>

    <div class="service_container">
      <div class="box ">
        <div class="img-box">
          <img  src="../../../assets/images/s-4.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Earn by Watching Ads
          </h5>
          <p>
            You can earn cryptocurrency by watching advertisement videos.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../../../assets/images/s-2.png" alt="sad">
        </div>
        <div class="detail-box">
          <h5>
            Earn by Solve Survey
          </h5>
          <p>
            You can earn cryptocurrency by solving surveys.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../../../assets/images/s-1.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Earn Crypto Money
          </h5>
          <p>
            Use the crypto money I have earned as you wish.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end service section -->
  <!-- work section -->

  <section class="work_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Work With Us
        </h2>
        <p>
          Don't you want to work with AnySurvey? Come on start working with us and introduce your company.
        </p>
      </div>
      <div class="container"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="detail_container">
            <div class="box b-1">
              <div class="top-box">
                <div class="icon-box">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM213.5 173.3l72 144c5.9 11.9 1.1 26.3-10.7 32.2s-26.3 1.1-32.2-10.7l-9.4-18.9H150.9l-9.4 18.9c-5.9 11.9-20.3 16.7-32.2 10.7s-16.7-20.3-10.7-32.2l72-144c4.1-8.1 12.4-13.3 21.5-13.3s17.4 5.1 21.5 13.3zm-.4 106.6L192 237.7l-21.1 42.2h42.2zM304 184c0-13.3 10.7-24 24-24h56c53 0 96 43 96 96s-43 96-96 96H328c-13.3 0-24-10.7-24-24V184zm48 24v96h32c26.5 0 48-21.5 48-48s-21.5-48-48-48H352z"/></svg>
                </div>
                <h5>
                  Post Ad Video
                </h5>
              </div>
              <div class="bottom-box">
                <p>
                  Post an ad video and let your ad video be watched by many people. This way, everyone learns about your company.
                </p>
              </div>
            </div>
            <div class="box b-1">
              <div class="top-box">
                <div class="icon-box">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM105.8 229.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L216 328.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V314.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H158.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM160 416a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>
                </div>
                <h5>
                   Post a Survey
                </h5>
              </div>
              <div class="bottom-box">
                <p>
                  Post a poll and it will be solved by many people. In this way, you can find out what everyone thinks about your company.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="../../../assets/images/about-img.png" alt="">
          </div>
        </div>
      </div>

      <div class="btn-box">
        <a id="partnership" routerLink="/partnership">
          Work With Us
        </a>
      </div>
    </div>
  </section>
  <!-- end work section -->