<!-- slider  -->
<div class="slider">
  <div class="slide active">
    <div class="inner">
      <h1>başlık1</h1>
      <p>Lorem ipsum dolor sit. Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
  <div class="slide">
    <div class="inner">
      <h1>başlık2</h1>
      <p>Lorem ipsum dolor sit.</p>
    </div>
  </div>
  <div class="slide">
    <div class="inner">
      <h1>başlı3</h1>
      <p>Lorem ipsum dolor sit.</p>
    </div>
  </div>
  <div class="slide">
    <div class="inner">
      <h1>başlı4</h1>
      <p>Lorem ipsu4561t.</p>
    </div>
  </div>

</div>

<div class="indicators">
  <button (click)="prevSlide()" id="prev" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg></button>
  <button (click)="nextSlide()" id="next"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
  </svg></button>
</div>
<!-- slider end -->

<!-- service section -->
<section class="service_section layout_padding">
  <div class="container-fluid">
    <div class="heading_container">
      <h2>
        Our Services
      </h2>
      <p>
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="service_container">
      <div class="box">
        <div class="img-box">
          <img src="../../../assets/images/s-1.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Brand Promotion
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../../../assets/images/s-2.png" alt="sad">
        </div>
        <div class="detail-box">
          <h5>
            Video Marketing

          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </p>
        </div>
      </div>

      <div class="box">
        <div class="img-box">
          <img src="../../../assets/images/s-3.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            SEO Optimization
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../../../assets/images/s-4.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Site Analysis
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </p>
        </div>
      </div>
    </div>
    
    <div class="btn-box">
      <a href="">
        Read More
      </a>
    </div>
  </div>
</section>
<!-- end service section -->
  <!-- work section -->

  <section class="work_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          How We Work!
        </h2>
        <p>
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="container"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="detail_container">
            <div class="box b-1">
              <div class="top-box">
                <div class="icon-box">
                  <img src="../../../assets/images/3.jpg" alt="">
                </div>
                <h5>
                  We Generate A Good Idea First
                </h5>
              </div>
              <div class="bottom-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam
                </p>
              </div>
            </div>
            <div class="box b-1">
              <div class="top-box">
                <div class="icon-box">
                  <img src="../../../assets/images/3.jpg" alt="">
                </div>
                <h5>
                  Then We Start Applying Iades
                </h5>
              </div>
              <div class="bottom-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="../../../assets/images/about-img.png" alt="">
          </div>
        </div>
      </div>

      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>
  <!-- end work section -->
