<div
  class="modal fade mb-3"
  id="videoModal"
  tabindex="-1"
  aria-labelledby="videoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h3> </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <div id="card"  class="container mt-3 mb-3">
            <div class="row">
            <div class="col col1">
              <div class="card">
                <div class="front">
                  <div class="type">
                    <img class="bankid"/>
                  </div>
                  <span class="chip"></span>
                  <span id="card_number" class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
                  <div id="date" class="date"><span class="date_value">MM / YYYY</span></div>
                  <span id="fullname" class="fullname">FULL NAME</span>
                </div>
                <div class="back">
                  <div class="magnetic"></div>
                  <div class="bar"></div>
                  <span class="chip"></span><span class="disclaimer">This card is property of Random Bank of Random corporation. <br> If found please return to Random Bank of Random corporation - 21968 Paris, Verdi Street, 34 </span>
                </div>
              </div>
            </div>
            <div class="col col2">
              <label>Card Number</label>
              <input (keyup)="cardNumber()"  class="number" [(ngModel)]="ncard" type="text"   maxlength="19"/>
              <label>Cardholder name</label>
              <input class="inputname" [(ngModel)]="namecard"type="text" placeholder=""/>
              <label>Expiry date</label>
              <input class="expire" type="text" [(ngModel)]="date" placeholder="MM / YYYY"/>
              <label>Security Number</label>
              <input class="ccv" type="text" [(ngModel)]="ccv" placeholder="CVC" maxlength="3" />
              <button class="buy"><i class="material-icons"></i> Pay --.-- €</button>
            </div>
          </div>
          </div>
          
      </div>
    </div>
  </div>
</div>