.body{
    background-image: url(../../../assets/images/bg.jpg);
}
.info{
    display: inline;
    margin-left: 20px;
    color: white;
    padding: 10px;
    border-radius: 12px;
}
.add{
    background: green;
}
.remove{
    background: rgb(195, 12, 12);
}
button{
    padding: 8px;
    margin-top: 8px;
}

.col-md-5{
    padding: 50px;
    background-color: lightgray;
    margin: 10px;
    display: inline-block;
    border: 2px lightgray solid;
    border-radius: 35px;
    box-shadow: 5px 5px black;
    height: auto;
}

.question{
    margin-top: 15px;
    border: white 2px solid;
    padding: 20px;
    padding: 50px;
    background-color: lightgray;
    margin: 10px;
    display: block;
    border: 2px lightgray solid;
    border-radius: 35px;
    box-shadow: 5px 5px black;
    height: 100px;
    position: relative;
    height: auto;
}
.outline{
    position: relative;
   
    padding-top: 10px;
    padding-right: 5px;

}
.addQuestion{
    font-size:4em;
    font: bolder;
    font-family: 'STCaiyun', sans-serif;
                                                
}
span{
    width: 7%;
    z-index: 1;
}
