<section class="pb-5" style="min-height: 700px; padding-top: 130px">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm">
          <!-- Email input -->
          <div [ngClass]="{ 'has-error': loginForm.get('email').touched && loginForm.get('email').invalid }" class="form-outline mt-5 mb-1">
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
            <label class="form-label" for="email">Email address</label>
            <p class="help-block text-danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').errors?.['email']">Please enter a valid email</p>
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
            <label class="form-label" for="password">Password</label>
          </div>
        
          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <label for="recaptcha"></label>
              <re-captcha
                (resolved)="resolved($event)"
                siteKey="6LeRlwAmAAAAADLnv7RTDhyN9IgWNN8AIWGksy-r"
                formControlName="recaptcha"
                reCaptchaValueAccessor
              >
              </re-captcha>
            </div>
            <a routerLink="/forgetPassword" class="text-body">Forgot password?</a>
          </div>
        
          <div class="text-center text-lg-start mt-4 pt-2">
            <button 
              (click)="login()"
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a routerLink="/register" class="link-danger">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
