<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Our Services</span></p>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2 mb-2">
                    <div class="card-body text-center">
                        <h4 class="card-title">Post an Ad Video</h4>
                        <p class="card-text">You must upload the video you want to add to a Blut system and enter the link.</p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Company Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">What About This Ads Video</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Video Url</label>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary px-4 mx-auto mb-4">Go to Pay</a>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2 mb-2">
                    <div class="card-body text-center">
                        <h4 class="card-title">Post a Survey</h4>
                        <p class="card-text">Please select your survey package</p>
                    </div>
                    <div class="card-footer package py-4 px-5" >
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right"><strong>Number of questions</strong></div>
                            <div class="col-6 py-1">1</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right"><strong>Fee</strong></div>
                            <div class="col-6 py-1">$20</div>
                        </div>
                    </div>
                    <div class="card-footer package py-4 mt-4 mb-4 px-5" >
                        <div class="row ">
                            <div class="col-6 py-1 text-right border-right"><strong>Number of questions</strong></div>
                            <div class="col-6 py-1">3</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right"><strong>Fee</strong></div>
                            <div class="col-6 py-1">$30</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>