<div class="container">
    <div class="row">
        <div *ngFor="let survey of surveys" class="col-md-6">
            <h2>{{survey.title}}</h2>
            <p>{{survey.description}}</p>
            <button class="btn btn-outline-success" (click)="getAllUsersWhoSolvedSurveysBySurveyId(survey.id); getAllSolvedSurveyBySurveyId(survey.id); userData==!userData"> izleyen kişileri göster</button>
            <div *ngIf="!userData">  <div *ngFor="let user of users"> {{user.email}} </div></div>
            <div *ngIf="!userData">  <div *ngFor="let solvedSurvey of solvedSurveys"> {{solvedSurvey.userId}} 
                <div *ngFor="let questionAnswer of solvedSurvey.questionsAnswers" >{{questionAnswer.questionDescription}}</div>
            </div> 
            
            </div>
            
            <div *ngFor="let question of survey.questions">
                {{question.description}}
                <div style="margin-left: 28px;" *ngFor="let option of question.options">
                   - {{option.description}}
                </div>
            </div>
            <button (click)="getSurveyFilterBySurveyId(survey.id)"> filtre</button>
            <div *ngIf="surveyFilter"> {{surveyFilter.id}} </div>
            <div class="card-footer bg-transparent " [formGroup]="surveyFilterForm">
                
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" formControlName="minAge" id="minAge" placeholder="name@example.com">
                    <label for="minAge">Min Age</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control"formControlName="maxAge" id="maxAge" placeholder="name@example.com">
                    <label for="maxAge">Max Age</label>
                </div>
                <div>
                  <p style="display: inline-block; margin-right: 10px;">Gender:</p>
                  <select class="form-select form-select-sm" formControlName="genderId" name="genderId" style="width:fit-content;  display:  inline-block;" aria-label=".form-select-sm example">
                    <option value="1">Erkek</option>
                    <option value="2">Kız</option>
                  </select>
                </div>
                <button (click)="updateSurveyFilter(survey.id)"  class="btn btn-primary" style="float: right;"> Update Filter</button>
              </div>
            
        </div>
    </div>
</div>
