.col-md-4 .card:hover{
    background-color: lightblue;
    cursor: pointer;
}
.two-canvas-container {
    width: 80%;
    height: 50%;
    margin-left: 10%;
  }
  
  .canvas-wrapper {
    display: inline-block;
    width: 50%;
  }
  .body{
    background-image: url(../../../assets/images/bg.jpg) ;
   }
   .survey-list{
    background-image: url(../../../assets/images/surveysa.png);
    background-size: contain;
    background-repeat: no-repeat;
  
    border: 2px solid blue;
  }
hr{
  color:white;
}